span
{
	color : blue;
}


body {
background-image:url(../images/background.jpg);
margin:0;
}

.container{
	background: white;
	border-radius: 30px;
}

#listeDessin{
	margin-left: auto;
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 2em;
}

#signin{
	padding-left: 45em;
}

#userInfo{
	padding-left :85em;
}

#myCanvas{
	margin-left: 12em;
		margin-top: 2em;
	border-width: 2px;
	border-style: dotted;
	border-color: black;
}

#boutonDraw{

margin-left: 12em;
margin-right: 12em;
margin-bottom: 5em;

}
